@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.errorPage {
  color: black;
  max-width: 1024px;
  margin: 0 auto;
}
.errorContent {
  height: 100%;
  display: flex;
  backdrop-filter: blur(20px);
  align-items: center;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  gap: 20px;
  border: 1px solid #eee;
}
.errorIcon {
  height: 100px;
  width: 100px;
  fill: #6c6c6c;
}
.errorText {
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
}
