.topBar {
  width: 100%;
  border-bottom: 1px solid salmon;
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.gitHubLink {
  align-self: center;
}
.gitHubIcon {
  width: 35px;
  height: 35px;
}
