.copyBtn {
  border-radius: 30px;
  padding: 5px 10px;
  align-self: center;
  font-size: 0.8em;
  border: 0;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  margin-bottom: 2px;
  box-sizing: border-box;
}
.copyBtnText {
  padding: 0;
  margin: 0;
}
.copyBtnIcon {
  stroke: white;
}
@media screen and (max-width: 735px) {
  .copyBtn {
    padding: 10px 20px;
    font-size: 1em;
    box-sizing: border-box;
  }
}
