.content {
  width: 1024px;
  margin: 0 auto;
  gap: 50px;
  border: 1px solid #eee;
  box-shadow: 2px 8px 17px -14px rgba(66, 68, 90, 1);
  padding: 10px 2%;
  box-sizing: border-box;
}
.backBtn {
  position: absolute;
  top: 10%;
  left: 10%;
  background: none;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-sizing: border-box;
}
.backBtn:hover {
  background-color: black;
}
@media screen and (max-width: 735px) {
  .content {
    width: 100%;
  }
  .backBtn {
    display: none;
  }
}
