.content {
  width: 1024px;
  margin: 0 auto;
  border: 1px solid #eee;
  box-shadow: 2px 8px 17px -14px rgba(66, 68, 90, 1);
  padding: 10px 2%;
  box-sizing: border-box;
}
.backBtn {
  position: fixed;
  top: 80px;
  left: 20px;
  background: none;
  border: none;
}
.backBtn:hover {
  color: salmon;
}
@media screen and (max-width: 735px) {
  .content {
    max-width: 100%;
  }
  .backBtn {
    display: none;
  }
}
